@{
    ViewData["Title"] = "Ver cadetes";
}

<section>
    <a asp-controller="Cadete" asp-action="Create">Ingresar cadete</a>
</section>
<section class="cadetes">
    <table>
        <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Pedido en curso</th>
        <th>Acciones</th>
        </thead>
        <tbody>
            @foreach (CadeteModel cadete in (List<CadeteModel>)ViewData["cadetes"])
            {
                <tr>
                    <td>@cadete.id</td>
                    <td>@cadete.nombre</td>
                    <td>@cadete.direccion</td>
                    <td>@cadete.telefono</td>
                    @if(cadete.PedidoEnCurso() != null){
                        <td>@cadete.PedidoEnCurso().Nro</td>
                    }
                    else{
                        <td>-</td>
                    }
                    <td><a href="/Cadete/Edit/@cadete.id">Editar</a><a href="/Cadete/Delete/@cadete.id">Borrar</a><a href="/Cadete/Details/@cadete.id">Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>