@{
    ViewData["Title"] = "Ver cadetes";
}

<section>
    <a asp-controller="Cadete" asp-action="Create">Ingresar cadete</a>
</section>
<section class="cadetes">
    <table>
        <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Pedido en curso</th>
        <th>Acciones</th>
        </thead>
        <tbody>
            @foreach (var cadete in (Dictionary<int, CadeteModel>)ViewData["cadetes"])
            {
                <tr>
                    <td>@cadete.Key</td>
                    <td>@cadete.Value.nombre</td>
                    <td>@cadete.Value.direccion</td>
                    <td>@cadete.Value.telefono</td>
                    @if (cadete.Value.PedidoEnCurso() != null)
                    {
                        <td>@cadete.Value.PedidoEnCurso().Nro</td>
                    }
                    else{
                        <td>-</td>
                    }
                    <td><a href="/Cadete/Edit/@cadete.Key">Editar</a><a href="/Cadete/Delete/@cadete.Key">Borrar</a><a href="/Cadete/Details/@cadete.Key">Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>